<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staples.mapper.OutputMapper">
	<resultMap id="BaseResultMap" type="com.staples.domain.Output">
		<id column="ID" jdbcType="DECIMAL" property="id" />
		<result column="CUSTOMER_TYPE" jdbcType="VARCHAR" property="customerType" />
		<result column="BD_SALES" jdbcType="VARCHAR" property="bdSales" />
		<result column="AM_SALES" jdbcType="VARCHAR" property="amSales" />
		<result column="SAM_SALES" jdbcType="VARCHAR" property="samSales" />
		<result column="TELEPHONIST" jdbcType="VARCHAR" property="telephonist" />
		<result column="STATEMENT_PERSON" jdbcType="VARCHAR" property="statementPerson" />
		<result column="IS_OBSOLETE" jdbcType="CHAR" property="isObsolete" />
		<result column="FIRST_ORDER_DATE" jdbcType="DATE" property="firstOrderDate" />
		<result column="LAST_ORDER_DATE" jdbcType="DATE" property="lastOrderDate" />
		<result column="SAP_GROUP_NO" jdbcType="VARCHAR" property="sapGroupNo" />
		<result column="SAP_REF_NO" jdbcType="VARCHAR" property="sapRefNo" />
		<result column="TY_YTD_MARGIN" jdbcType="DECIMAL" property="tyYtdMargin" />
		<result column="TY_YTD_SALES" jdbcType="DECIMAL" property="tyYtdSales" />
		<result column="TY_YTD_ORDER_COUNT" jdbcType="DECIMAL"
			property="tyYtdOrderCount" />
		<result column="TY_YTD_MONTH_COUNT" jdbcType="DECIMAL"
			property="tyYtdMonthCount" />
		<result column="TY_MTD_MARGIN" jdbcType="DECIMAL" property="tyMtdMargin" />
		<result column="TY_MTD_SALES" jdbcType="DECIMAL" property="tyMtdSales" />
		<result column="TY_MTD_ORDER_COUNT" jdbcType="DECIMAL"
			property="tyMtdOrderCount" />
		<result column="LY_YTD_SALES" jdbcType="DECIMAL" property="lyYtdSales" />
		<result column="BLY_YTD_SALES" jdbcType="DECIMAL" property="blyYtdSales" />
		<result column="LY_YTD_MARGIN" jdbcType="DECIMAL" property="lyYtdMargin" />
		<result column="BLY_YTD_MARGIN" jdbcType="DECIMAL" property="blyYtdMargin" />
		<result column="LY_MTD_SALES" jdbcType="DECIMAL" property="lyMtdSales" />
		<result column="BLY_MTD_SALES" jdbcType="DECIMAL" property="blyMtdSales" />
		<result column="LY_MTD_MARGIN" jdbcType="DECIMAL" property="lyMtdMargin" />
		<result column="BLY_MTD_MARGIN" jdbcType="DECIMAL" property="blyMtdMargin" />
		<result column="TOTAL_AR" jdbcType="DECIMAL" property="totalAr" />
		<result column="INVOICED_AR" jdbcType="DECIMAL" property="invoicedAr" />
		<result column="UNINVOICED_AR" jdbcType="DECIMAL" property="uninvoicedAr" />
		<result column="TOTAL_AR_OVERDUE" jdbcType="DECIMAL" property="totalArOverdue" />
		<result column="INVOICED_AR_OVERDUE" jdbcType="DECIMAL"
			property="invoicedArOverdue" />
		<result column="UNINVOICED_AR_OVERDUE" jdbcType="DECIMAL"
			property="uninvoicedArOverdue" />
		<result column="TOTAL_CREDIT" jdbcType="DECIMAL" property="totalCredit" />
		<result column="STATEMENT_IDENTIFICATION" jdbcType="VARCHAR"
			property="statementIdentification" />
		<result column="STATEMENT_IDENTIFICATION_FROM" jdbcType="VARCHAR"
			property="statementIdentificationFrom" />
		<result column="STATEMENT_IDENTIFICATION_TO" jdbcType="VARCHAR"
			property="statementIdentificationTo" />
		<result column="INVOICE_IDENTIFICATION" jdbcType="VARCHAR"
			property="invoiceIdentification" />
		<result column="PAYMENT_CONDITION" jdbcType="VARCHAR" property="paymentCondition" />
		<result column="STATEMENT_DAY" jdbcType="DECIMAL" property="statementDay" />
		<result column="STATEMENT_DAY_FROM" jdbcType="DECIMAL"
			property="statementDayFrom" />
		<result column="STATEMENT_DAY_TO" jdbcType="DECIMAL" property="statementDayTo" />
		<result column="INVOICE_DAY" jdbcType="DECIMAL" property="invoiceDay" />
		<result column="CUS_STATUS" jdbcType="CHAR" property="cusStatus" />
		<result column="SAL_STATUS" jdbcType="CHAR" property="salStatus" />
		<result column="FIN_STATUS" jdbcType="CHAR" property="finStatus" />
		<result column="SALESFORCE_STATUS" jdbcType="CHAR" property="salesforceStatus" />
		<result column="CUS_MODIFIED_DATE" jdbcType="TIMESTAMP"
			property="cusModifiedDate" />
		<result column="SAL_MODIFIED_DATE" jdbcType="TIMESTAMP"
			property="salModifiedDate" />
		<result column="FIN_MODIFIED_DATE" jdbcType="TIMESTAMP"
			property="finModifiedDate" />
		<result column="SALESFORCE_MODIFIED_DATE" jdbcType="TIMESTAMP"
			property="salesforceModifiedDate" />
		<result column="ACCOUNT_NAME" jdbcType="VARCHAR" property="accountName" />
		<result column="PROVINCE_SEGMENT" jdbcType="VARCHAR" property="provinceSegment" />
		<result column="CITY_SEGMENT" jdbcType="VARCHAR" property="citySegment" />
		<result column="DISTRICT_SEGMENT" jdbcType="VARCHAR" property="districtSegment" />
		<result column="PHONE" jdbcType="VARCHAR" property="phone" />
		<result column="STAFF" jdbcType="DECIMAL" property="staff" />
		<result column="INDUSTRY" jdbcType="VARCHAR" property="industry" />
		<result column="ACCOUNT_SOURCE" jdbcType="VARCHAR" property="accountSource" />
		<result column="SEGMENTATION" jdbcType="VARCHAR" property="segmentation" />
		<result column="NATURE_OF_FIRM" jdbcType="VARCHAR" property="natureOfFirm" />
		<result column="PURCHASE_TYPE" jdbcType="VARCHAR" property="purchaseType" />
		<result column="IS_NEW_ACCOUNT" jdbcType="CHAR" property="isNewAccount" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, CUSTOMER_TYPE, BD_SALES, AM_SALES, SAM_SALES,
		TELEPHONIST,
		STATEMENT_PERSON,
		IS_OBSOLETE, FIRST_ORDER_DATE,
		LAST_ORDER_DATE, SAP_GROUP_NO, SAP_REF_NO,
		TY_YTD_MARGIN,
		TY_YTD_SALES,
		TY_YTD_ORDER_COUNT, TY_YTD_MONTH_COUNT, TY_MTD_MARGIN, TY_MTD_SALES,
		TY_MTD_ORDER_COUNT, LY_YTD_SALES, BLY_YTD_SALES, LY_YTD_MARGIN,
		BLY_YTD_MARGIN, LY_MTD_SALES,
		BLY_MTD_SALES, LY_MTD_MARGIN,
		BLY_MTD_MARGIN, TOTAL_AR, INVOICED_AR, UNINVOICED_AR,
		TOTAL_AR_OVERDUE, INVOICED_AR_OVERDUE, UNINVOICED_AR_OVERDUE,
		TOTAL_CREDIT, STATEMENT_IDENTIFICATION,
		STATEMENT_IDENTIFICATION_FROM,
		STATEMENT_IDENTIFICATION_TO, INVOICE_IDENTIFICATION,
		PAYMENT_CONDITION, STATEMENT_DAY, STATEMENT_DAY_FROM,
		STATEMENT_DAY_TO, INVOICE_DAY,
		CUS_STATUS, SAL_STATUS, FIN_STATUS,
		SALESFORCE_STATUS, CUS_MODIFIED_DATE,
		SAL_MODIFIED_DATE,
		FIN_MODIFIED_DATE, SALESFORCE_MODIFIED_DATE, ACCOUNT_NAME,
		PROVINCE_SEGMENT,
		CITY_SEGMENT,
		DISTRICT_SEGMENT, PHONE, STAFF,
		INDUSTRY, ACCOUNT_SOURCE, SEGMENTATION, NATURE_OF_FIRM,
		PURCHASE_TYPE,
		IS_NEW_ACCOUNT
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.math.BigDecimal">
		select
		<include refid="Base_Column_List" />
		from OUTPUT
		where ID = #{id,jdbcType=DECIMAL}
	</select>

	<select id="getAllUpdatedInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from OUTPUT
		where SALESFORCE_STATUS = 'N'
	</select>

	<parameterMap type="map" id="theSumParameterMap">
		<parameter property="sum" jdbcType="INTEGER" mode="OUT" />
	</parameterMap>
	<update id="theSum" parameterMap="theSumParameterMap"
		statementType="CALLABLE">
		{call scott.adder(?)}
	</update>

	<update id="updateOutputStatusN" parameterType="Output"> 
		UPDATE OUTPUT SET SALESFORCE_STATUS = 'N', CUS_STATUS = 'N', SAL_STATUS = 'N', FIN_STATUS = 'N'
	</update>

	<update id="updateOutputStatusY" parameterType="Output"> 
		UPDATE OUTPUT SET SALESFORCE_STATUS = 'Y', CUS_STATUS = 'Y', SAL_STATUS = 'Y', FIN_STATUS = 'Y', SALESFORCE_MODIFIED_DATE = SYSDATE
	</update>
</mapper>