<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="application.properties">
		<!-- <property name="jdbc.username" value="db_user" />
		<property name="jdbc.password" value="verysecurepwd" /> -->
	</properties>
	<typeAliases>
		<typeAlias alias="Output" type="com.staples.domain.Output"/>
		<typeAlias alias="History" type="com.staples.domain.History"/>
	</typeAliases>
	<environments default="oracle-prod">
		<environment id="mysql-dev">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="${jdbc.mysql.driverClassName}" />
				<property name="url" value="${jdbc.mysql.url}" />
				<property name="username" value="${jdbc.mysql.username}" />
				<property name="password" value="${jdbc.mysql.password}" />
			</dataSource>
		</environment>
		<environment id="oracle-dev">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="${jdbc.oracle.dev.driverClassName}" />
				<property name="url" value="${jdbc.oracle.dev.url}" />
				<property name="username" value="${jdbc.oracle.dev.username}" />
				<property name="password" value="${jdbc.oracle.dev.password}" />
			</dataSource>
		</environment>
		<environment id="oracle-prod">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="${jdbc.oracle.prod.driverClassName}" />
				<property name="url" value="${jdbc.oracle.prod.url}" />
				<property name="username" value="${jdbc.oracle.prod.username}" />
				<property name="password" value="${jdbc.oracle.prod.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/staples/mapper/OutputMapper.xml" />
		<mapper resource="com/staples/mapper/HistoryMapper.xml" />
	</mappers>
</configuration>